@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --backgroundcolor: #F5F3EB;
    --box-color: #E6DDC0;
    --nav-footer: #464646;
    --buttons: #629F6C;
    --grey: #b7b7b7;
}

/*Koncept*/
/*Header*/
header {
    padding: 20px;
    background: var(--nav-footer);
    color: white;
    font-size: 10px;
    text-align: right;
    max-height: 50px;
    
    }
      
header .logo {
    max-width: 45px;
    position: absolute;
    left: 10px;
    margin-top:15px;
    }


    /*drop down menu*/
.dropbtn {
    background-color:var(--buttons);
    color: var(--backgroundcolor);
    color: #E6DDC0;
    padding: 16px;
    font-size: 16px;
    border: none;
    
    }
  
.dropdown {
    position: relative;  
    
    }
  
.dropdown-content {
    display: none;
    margin-top: 20px;
    background-color: var(--backgroundcolor);
    z-index: 1;
    max-width: 100%;
    text-align: center;
    }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
  }
  
.dropdown-content a:hover {
      
    background-color: var(--buttons);
    color: var(--backgroundcolor)
    }
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown:hover .dropbtn {
    background-color:var(--buttons);
  }

  /*Navigations menu til desktop format*/

  .desktop-menu{
      display: none;
  }

/*Body*/

body{
      background-color: var(--backgroundcolor);
  }

.skærm{
      width: 414px;
    
  }

  /*Koncept overskrift*/
.overskrift{
    background-color: var(--grey);
}

.overskrift h1{
    color: var(--backgroundcolor);
    text-align: center;
}

/*Koncept tekstboks*/
.tekstboks{
    margin: 30px;
    padding:20px;
    background-color: var(--box-color);
}

.tekstboks p{
    text-align: center;
    font-family: 'quicksand', sans-serif;
}


/*footer*/
.footer-container {
    background-color: var(--nav-footer);
    color: var(--box-color);
    left: 0;
    bottom: 0;
    height: auto;
    text-align: left;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.footer-box1 h1 {
    font-size: 20px;
}

.footer-box1 b {
    font-size: 15px;
}

.footer-box1 p {
    font-size: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo1:hover {
    background-color: grey;
    border-radius: 50%;
}

.logo2:hover {
    background-color: grey;
    border-radius: 20px;
}

.instagram {
    height: 50px;
    padding: 10px;
}

.facebook {
    height: 50px;
    padding: 10px;
}

.copyright {
    display: none;
}

/*Omos-side*/

/*Overskrift-box*/

.box {
    background-color: var(--grey);
    text-align: center;
    padding: 1px; 
}

.box h1 {
    font-size: 28px;
    color: var(--backgroundcolor);
    font-family: 'Montserrat', sans-serif;
}

/*Text box*/

.text {
    background-color: var(--box-color);
    margin: 25px;
    height: auto;
    text-align: center;
    padding: 15px;
}

.text h2 {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}





/*Forside*/

.index {
    background-image: url(Images/bil1.png);
    background-size: 100%; 
    background-attachment: cover;
    background-position: 50% 31%;
}


.h1 {
color: var(--backgroundcolor);
background-color: rgba(0, 0, 0, 0.502);
font-family: sans-serif;
margin-top: 0px;
padding: 10px;
text-align: center;
font-family: 'Montserrat', sans-serif;

}

.words {
    color: black; 
    background: var(--box-color);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}

.wrapper { 
    text-align: center;
}

.button {

    background-color: var(--buttons);
    border-radius: 25px;
    color: white;  
    padding: 15px 50px;
    margin-top: 400px;
    margin-bottom: 23px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    font-family: 'Montserrat', sans-serif;
    ;
}



/*Modeller*/

.grå-box {
    text-align: center;
    padding: 10px;
    background-color: var(--overskrift);
}

.grå-box h1{
    font-size: 28px;
    color: var(--backgroundcolor);
    font-family:'Montserrat', sans-serif;
}


.carbil{
margin-top: 10px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;


}
.carbil div{
max-width: 500px;
padding: 15px;
margin: 20px;
background-color:var(--box-color);
display: flex;
flex-direction: column;
align-items: center;
}

.carbil h2,p{
 margin: 15px;
}

.carbil p{
font-size: 22px;
}

.order {
background-color:#629F6C;
color: #f1f1f1;
font-weight: bold;
text-decoration: none;
padding: 15px;
margin-top: 8px;
border-radius: 15px;
width: 100px;
}

.readmore{
    background-color:#464646;
    color: #f1f1f1;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    margin-top: 8px;
    border-radius: 15px;
    width: 100px;
    }




@media screen and (min-width: 1024px) {
    .box {
        background-color: var(--buttons);
    }
    .skærm{
            width: 100%;
    }

    .overskrift{
        background-color: var(--buttons);
        font-size: 28px;
        padding: 10px;
    }

/* General styling*/

.topbox{
    background-color: var(--box-color);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    padding-bottom: 8px;
}

/* Titler*/
h2{
    padding-top: 5px;
    margin-left: 7px;
    margin-bottom: 15px;
    font-size: 25px;
}

/* Generalt for brødtekst*/
p{
    margin-left: 7px;
    margin-bottom: 15px;
}

/* Større tekst (brugt til telefon nummer)*/
.uppertext{
    font-size: 20px;
}

/*--Styling af nederste kasser--*/

/* General styling*/
.bottombox{
    background-color: var(--box-color);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.maparea{
    display: flex;
}

 main


   .tekstboks p{
       font-size: 35px;
   } 
}


/*Ændring til desktop format*/
@media screen and (min-width: 1024px) {
    .grå-box {
        background-color: var(--buttons);
    }

    .tekstboks p{
        font-size: 35px;
    } 

    /*dropdown menu gjort usynlig*/
    .dropdown{
        display: none;}
    
    .box {
        background-color: var(--buttons);
    }

    .skærm{
        width: 1023px;
    }
    
    .overskrift{
        background-color: var(--buttons);
        font-size: 28px;
        padding: 10px;
    }
    
    
    .tekstboks p{
        font-size: 35px;
    } 


    .desktop-menu{
        padding: 10px;
    }

    .desktop-menu ul{
        text-decoration: none;
        display: flex;
        
    }

    .desktop-menu li{
        color: var(--buttons);
        font-size: 10px;

    }
    

    .index {
        background-image: url(Images/bil1.png);
    }


    .desktop-menu{
        display: block;
    }

    .desktop-menu ul{
        display: flex;
       justify-content: center;
    }


    .desktop-menu li{
        padding: 5px;
        padding-left: 50px;
        padding-right: 50px;
        margin: 20px;
        margin-top: 1px;
        margin-bottom: 3px;
        font-size: 15px;
        color: var(--buttons);
        font-family: 'Montserrat', sans-serif;
        list-style-type: none;
        outline: var(--backgroundcolor);
        outline-style: solid;
        outline-width: 2px;
       
    }




 
    /*Kontakt*/


    main h1{
        background-color: var(--buttons);
    }

    .map{
        padding-top: 15px;
        padding-left: 15px;
        width: 500px;
        height: auto;
    }


    .map-mobile-text{
        display: none;
    }

    .map-desktop-text{
        margin-left: 180px;
        margin-top: 100px;
    }

    .topbox{
        padding-right: 150px;
    }
    
    .infobox-section{
        display: flex;
    }

    main h1{
        background-color: var(--buttons);
    }

    .copyright h1 {
        font-size: 18px;
    }
    
    .copyright {
        padding-top: 35px;
        display: block;
    }
}

/* Kort størrelse for mindre end ipad.*/
@media screen and (max-width: 750px){
    .map{
        padding-top: 15px;
        width: 300px;
        height: auto;
    }
/* Centrere kort*/
    .maparea{
        justify-content: center;
    }
    .map-desktop-text{
        display: none;
    }
}

/* Kort størrelse for ipad og mindre skærme.*/
@media screen and (min-width: 750px) and (max-width: 1024px){
    .map{
        padding-top: 15px;
        width: 500px;
        height: auto;
    }
    /* Centrere kort*/
    .maparea{
        justify-content: center;
    }
    .map-desktop-text{
        display: none;
    }
}





