@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
}

:root {
    --backgroundcolor: #F5F3EB;
    --box-color: #E6DDC0;
    --nav-footer: #464646;
    --buttons: #629F6C;
    --grey: #b7b7b7;
}
